<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head th:include="head">
    <title>Latest Topics from index.hu</title>
    <meta charset="UTF-8">
</head>

<body>
<h2 class="header">Daily News feed from index.hu</h2>

<div>
    <table>
       <thead>
        <tr>
            <th class="topic">Topic</th>
            <th class = "date">Date posted</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="topic : ${topicList}">
            <td>
                <img class="image" th:src="${topic.picture}" alt="image">
                <a th:href = "${topic.link}">
                <div class="topicTitle" th:text="${topic.title}"></div>
                </a>
                <div class="topicDescription" th:text="${topic.description}"></div>
            </td>
            <td class="datevalue" th:text ="${topic.date}"></td>

        </tbody>
    </table>
</div>

</body>
</html>